// colours
$primary-color: #6A6579;
$secondary-color: #FF9A9F;
$tertiary-color: #FFF6E8;

// lotus icon colours from darkest to lightest
/*
#FF8086
#FF9A9F
#FFB3B7
#FFCBCE
*/

// colour of background and yellows corals options
/*
#6A6579

#FFB09A
#FFF6E8
#FFEDCE
#FFE3B5
#FFD99B
*/

// fonts
// $primary-font: #6A6579;