@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  background-color: $primary-color;
  color: $tertiary-color;
  h1 {
    font-family: 'Poiret One', monospace;
  }
}

