@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Reenie+Beanie&family=Roboto+Mono:wght@100&display=swap');

body {
  font-family: 'Roboto Mono', 'Courier New', monospace;

  h1 {
    font-family: 'Poiret One', 'Courier New', monospace;
    font-family: 'Reenie Beanie', 'Courier New', monospace;
  }
  footer {
    font-family: 'Reenie Beanie', 'Courier New', monospace;
  }
}